<!DOCTYPE html>
<html>
    <head>
        <title>come back cat</title>
	    <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="img/favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" /> 
        <!-- css -->
        <link rel="stylesheet" href="css/awesome/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css" id="LoginStyle">
        <!-- module -->
        <script src="js/module/jquery.js"></script>
        <script src="js/module/json.js"></script>
        <!-- main -->
        <script src="js/tools.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div class="page-menu">
            <div class="width">
                <div class="page-menu-tab">
                    <a href="#">Home</a>
                    <a href="#">Information</a>
                    <a href="#">Community</a>
                </div>
            </div>
        </div>
        <div class="volunteers">
            <div class="width">
                <div class="information-page-switch">
                    <button id="information-page-switch-on">I want to take care of</button>
                    <button>I want to give it to someone else</button>
                </div>
                <div class="information-page">
                    <div class="information-page-num">
                        <span class="title">information-page-num</span>
                        <p class="text">and a finely-tuned package of advanced software, support, certifications, and other services. More than one-third of the Fortune 100 rely on MongoDB Enterprise Advanced to help run their mission critical applications.</p>
                        <div class="information-page-data">
                            <span><i class="fa fa-clock-o"></i>2011-9-20</span>
                            <span><i class="fa fa-eye"></i>100</span>
                            <span><i class="fa fa-commenting"></i>100</span>
                        </div>
                    </div>
                    <div class="information-page-num">
                        <span class="title">information-page-num</span>
                        <p class="text">and a finely-tuned package of advanced software, support, certifications, and other services. More than one-third of the Fortune 100 rely on MongoDB Enterprise Advanced to help run their mission critical applications.</p>
                        <div class="information-page-data">
                            <span><i class="fa fa-clock-o"></i>2011-9-20</span>
                            <span><i class="fa fa-eye"></i>100</span>
                            <span><i class="fa fa-commenting"></i>100</span>
                        </div>
                    </div>
                    <div class="information-page-num">
                        <span class="title">information-page-num</span>
                        <p class="text">and a finely-tuned package of advanced software, support, certifications, and other services. More than one-third of the Fortune 100 rely on MongoDB Enterprise Advanced to help run their mission critical applications.</p>
                        <div class="information-page-data">
                            <span><i class="fa fa-clock-o"></i>2011-9-20</span>
                            <span><i class="fa fa-eye"></i>100</span>
                            <span><i class="fa fa-commenting"></i>100</span>
                        </div>
                    </div>
                    <div class="information-page-num">
                        <span class="title">information-page-num</span>
                        <p class="text">and a finely-tuned package of advanced software, support, certifications, and other services. More than one-third of the Fortune 100 rely on MongoDB Enterprise Advanced to help run their mission critical applications.</p>
                        <div class="information-page-data">
                            <span><i class="fa fa-clock-o"></i>2011-9-20</span>
                            <span><i class="fa fa-eye"></i>100</span>
                            <span><i class="fa fa-commenting"></i>100</span>
                        </div>
                    </div>
                </div>
                <div class="setpage">
                    <div class="setpage-next">
                        <button>next</button>
                    </div>
                    <div class="setpage-sum">
                        <input> / 13
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



